DirectoryIndex public/index.php

RewriteEngine On

# Redirect requests for assets to the "public" folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
